// Breakpoints
$breakpoints: (
    'xsmall':  21.25rem, // 340px
    'small':  40rem, // 640px
    'medium':  48rem, // 768px
    'large':  61.25rem, // 980px
    'xlarge':  82rem // 1312px
);

// Dimensions
$container-width: 73.75rem; // 1180px

// Colors
$color__primary: 'red';
$color__text: '#333';

