{
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "linebreak-style": [2, "unix"]
    },
    "env": {
        "node": true,
        "browser": true,
        "es6": true,
        "mocha": true
    },
    "globals": {
        "__DEV__": true
    },
    "extends": ["eslint:recommended"]
}